<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Introduction.My.MySettings.MiscConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Misc;User ID=sa;Password=t9aaz238"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>